@media(max-width:1214px){
    nav ul li a{
        display:block;
    }
    .sub-adopt{
        width:100%;
        float:none
    }
    .points{
        width:100%;
        float:none;
    }
}
