@media(max-width:1214px){
    .adopt{
        height:300vh;
    }
    nav ul li a{
        display:block;
    }
    .sub-adopt{
        width:100%;
        
    }
    .sub-adopt h2{
        text-align:center;
        padding-left:70px;
    }
    .sub-adopt ul li{
        padding-left:70px;
    }
    .points{
        width:100%;
        
    }
    .points p{
        padding-top:130px;
    }
    input{
        width:200px;
    }
}
