@media(max-width:1214px){
    nav ul li a{
        display:block;
    }
    .sub-adopt{
        width:100%;
        
    }
    .sub-adopt h2{
        text-align:center;
        padding-left:50px;
        padding-top:50px;
    }
    .points{
        width:100%;
        
    }
    .points p{
        padding-top:130px;
    }
    input{
        width:200px;
    }
}

