*{
    padding:0;
    margin:0;  
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    display:flex;
    background:linear-gradient(rgba(78, 63, 83, 0.7),rgba(101, 81, 99, 0.7)),url(images/dog2.jpg);
    background-size:cover;
    background-position: center;
    position:relative;
    align-items: center;
    justify-content: center;
  
}
nav{
    border-radius:50px;
    padding:10px;
    background-color: rgb(232, 242, 232);
    box-shadow:0 25px 20px -20px rgba(0,0,0,0.4);
     
}
nav ul li a{
    list-style: none;
    display:inline-block;
    font-size:20px;
    font-weight:500;
    margin:10px;
    padding:13px 30px;
    cursor:pointer;
    transition:color 0.5s;
    z-index:2;
    position:relative;
    text-decoration:none;
}
nav ul li a::after{
  
    content:'';
    background:rgb(102, 154, 133);
    width:100%;
    height:100%;
    border-radius:30px;
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:-1;
    opacity:0;
    transition:top 0.5s,opacity 0.5s;
}
nav ul li a:hover{
    color:white;
}
nav ul li a:hover::after{
    top:50%;
    opacity:1;
} 

/*     ADOPTION PROCESS          */

.adopt{
    height:100vh;
    width:100%;
    background:linear-gradient(rgba(129, 158, 135, 0.7),rgba(129, 158, 135, 0.7)),url(images/catdog.jpg);
    background-size: cover;
    background-position:center;
    align-items: center;
    justify-content: center;

}
.sub-adopt{
    float:left;
    width:50%;
}
.sub-adopt h2{

    text-align: left;
    padding-top:100px;
    padding-left:100px;
    font-size:35px;
}
.sub-adopt ul li{
    font-size:24px;
    padding-top:20px;
    padding-left:130px;
    margin:10px;
}
.points{
    float:right;
    width:50%;
    margin:auto;
    text-align:center;
  
}
.points p{  
    font-size:20px;
    padding-top:100px;
 }
.points form{
  
    background-color:rgba(184, 170, 170, 0.4);
    border-radius:10px;
    padding:30px;
}
input{
    border-radius:10px;
    padding:10px;
    margin:10px;
    width:400px;
}
input#submit{
    width:100px;
}
input#submit:hover{
    background-color:rgb(57, 146, 241)
}
input.animal{
    width:20px;
}

/*       DONATION PROCESS   */

.donate{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(67, 61, 55, 0.7),rgba(60, 56, 52, 0.7)),url(images/dog3.jpg);
    background-size:cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.sub-donate{
    float:left;
    width:50%;
}
.sub-donate h1{
    text-align: left;
    padding-top:100px;
    padding-left:100px;
    font-size:35px;
}
.sub-donate ul li{
    font-size:24px;
    padding-top:20px;
    padding-left:130px;
    margin:10px;
}
.pay{
    float:right;
    width:50%;
    padding:40px;
    text-align:center;
}
.pay h1{
    text-align:center;
    font-size:20px;
}
.pay form{
    background-color:rgba(184, 170, 170, 0.4);
    border-radius:10px;
    padding:20px;
}
input.red{
    width:20px;
}
input.num,input.date,input.cvv{
    width:300px;
}



/*    CONSULTATION     */

.consult{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(69, 147, 165, 0.7),rgba(69, 147, 165, 0.7)),url(images/vet.jpeg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.a{
    float:left;
    padding:50px;
    position:relative;
    width:30%;
    background-color:rgba(184, 170, 170, 0.4);
    border-radius:15px;

}
.consult h1{
    font-size:28px;
    padding:100px;
    text-decoration:underline;
}
.a p,.b p,.c p{
    padding:10px;
}
.vet{
    color:rgb(161, 64, 64);
    font-size:18px;
}
.links{
    text-decoration:none;
}
.b{
    float:middle;
    padding:50px;
    margin:0 auto;
    width:30%;
    background-color:rgba(184, 170, 170, 0.4);
    border-radius:15px;
}
.c{
    float:right;
    padding:50px;
    width:30%;
    background-color:rgba(184, 170, 170, 0.4);
    border-radius:15px;
}

/*     CONTACT        */

.contact{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(122, 129, 137, 0.7),rgba(122, 129, 137, 0.7)),url(images/contact.jpeg);
    background-position: center;
    background-size: cover;
    padding:100px;
    font-size:24px;
    text-decoration:underline;
}
.contactinfo{
    padding:100px;
    float:left;
    width:50%;

}
.box{
    padding:30px;
}

.contactform{
    float:right;
    width:50%;
    padding:80px;
    background-color:rgba(184, 170, 170, 0.4);
}





























































